@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');



/* lo mas dificil es elegir un estilo para una pagina web Dios */
/* elimine comentarios basura */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
}
body {
    font-family: Arial, sans-serif;
    margin: 0 290px;
    padding: 0;
    background-size: contain;
    background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
}
.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.card {
    background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
    background-image: linear-gradient(45deg, #ee9ca7 0%, #ffdde1 100%);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px;
    overflow: hidden;
    width: calc(33% - 40px);
    box-sizing: border-box;
    transition: transform 0.3s, box-shadow 0.3s;
    height: 300px;
}

.card img {
    display: block;
    margin: 10px auto;
    object-fit: contain; 
    padding: 0 0 10px;
    max-height: 400px;
    width: 99%;
    height: 60%;
    filter: drop-shadow(0px 0px 6px blue);
}


.card .title {
    font-size: 1.1em;
    text-align: center;
    font-family: "Orbitron", sans-serif;
}

.card .text {
    margin: 0 15px 15px 0;
    color: #333;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    font-size: 1.1em;
    
}

.card .button {
    display: block;
    color: #333; 
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
