@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');



/* lo mas dificil es elegir un estilo para una pagina web Dios */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
}
body {
    font-family: Arial, sans-serif;
    margin: 0 290px;
    padding: 0;
    /* background: url(https://e0.pxfuel.com/wallpapers/783/597/desktop-wallpaper-beautifull-cityscape-in-the-world-dragon-ball-z-landscape-dragon-ball-scenery.jpg); */
    background-size: contain;
    /* background: url(https://pbs.twimg.com/media/DyvPi39XgAEAmkQ?format=jpg&name=large); */
    /* background: url(https://i.pinimg.com/736x/ea/e5/60/eae56088d341224451094ca41109d3b0.jpg); */
    /* background-repeat: no-repeat; */
    /* background-image: linear-gradient(to top, #0fd850 0%, #f9f047 100%); */
    /* background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%); */
    /* background-image: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%); */
    /* background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%); */
    background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
    /* background-image: linear-gradient(-20deg, #00cdac 0%, #8ddad5 100%); */
}
.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    /* background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%); */
    /* margin: 70px 110px 100px 110px 70px; */
    /* padding: 70px 110px 100px 110px 70px; */
}

.card {
    /* background-color: rgb(116, 209, 28); */
    background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
    /* background-image: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%); */
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
    background-image: linear-gradient(45deg, #ee9ca7 0%, #ffdde1 100%);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px;
    overflow: hidden;
    width: calc(33% - 40px);
    box-sizing: border-box;
    transition: transform 0.3s, box-shadow 0.3s;
    height: 300px;
    /* width: 370px; */
}

.card img {
    /* width: 50%; */
    /* height: 100%; */
    display: block;
    margin: 10px auto;
    object-fit: contain; 
    padding: 0 0 10px;
    max-height: 400px;
    width: 99%;
    height: 60%;
    filter: drop-shadow(0px 0px 6px blue);
}


.card .title {
    font-size: 1.1em;
    /* margin: 1px; */
    text-align: center;
    /* font-family: "Open Sans", sans-serif; */
    font-family: "Orbitron", sans-serif;
}

.card .text {
    margin: 0 15px 15px 0;
    color: #333;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    font-size: 1.1em;
    
}

.card .button {
    display: block;
    /* background: #007BFF; */
    color: #333; 
    text-align: center;
    /* padding: 7 10 10 10px; */
    /* margin: 15px 15px 15px 15px; */
    border-radius: 5px;
    text-decoration: none;
}

/* .card .button:hover { */
    /* background-color: #dcb6e4; */
/* } */

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
